/* Stylesheet for the Themple Theme Options page */


// Add some margin below the title for better look
#tpl-options-main-title {
	margin-bottom: 20px;
}


// Make it a new line
.clearfix {
	clear: both;
}


// Format of metabox elements
.meta-option {
	margin-top: 24px;
	width: 100%;

	.meta-option-label {
		width: 30%;
		max-width: 200px;
		padding-right: 20px;
		display: block;
		float: left;
		font-weight: bold;
	}

	.meta-option-wrapper {
		display: block;
		float: left;
		width: 70%;

		button {
			margin-bottom: 20px;
		}
	}

	.tpl-field {
		clear: both;
	}
}



// The look of the tabs in Theme Options
.ui-tabs {
	position: relative;
	padding: .2em;
	zoom: 1;

	.ui-tabs-nav {
		margin: 0;
		padding: .3em .3em 0;
		border-bottom: 1px solid #ccc;

		li {
			list-style: none;
			display: inline-block;
			position: relative;
			top: 1px;
			margin: 0 .2em -4px 0;
			border-bottom: 0 !important;
			padding: 0;
			white-space: nowrap;

			a {
				float: left;
				padding: .5em 1em;
				text-decoration: none;
				color: #222;
				font-weight: bold;
				font-size: 16px;
				background: #ddd;
				outline: none;
				cursor: pointer;
			}

			&.ui-tabs-selected {
				margin-bottom: 0;
				padding-bottom: 1px;
			}

			&.ui-tabs-active a {
				background: #f1f1f1;
				cursor: default;
			}
		}
	}

	.ui-tabs-panel {
		display: block;
		border-width: 0;
		padding: 1em 1.4em;
		background: none;
	}

	.ui-tabs-hide {
		display: none !important;
	}
}


// Some data type specific formatting
.static {
	font-weight: bold;
}


// Style of the option descriptions on Theme Options page
.optiondesc {
	padding: 20px 10px 15px !important;
	border-bottom: 1px solid #ccc;
	font-style: italic;
	font-size: 12px !important;
}


// Error message box
.tpl-error {
	border: 1px solid #a00;
	border-radius: 3px;
	background: rgba(255,0,0,0.2);
	display: inline-block;
	padding: 4px 12px;
	color: #a00;
}

.tpl-global-error {
	display: block;
	padding: 8px 15px;

	p {
		margin: 0;
		padding: 0;
	}
}

.tpl-field {
	position: relative;
	display: block;

	.tpl-field-inner {
		padding-right: 20px;
	}
}


// Admin icons
.admin-icon {
	.fa;
	font-size: 1.6em;
	display: inline-block;
	color: #ddd;
	position: relative;
	cursor:pointer;
	z-index: 2;
	text-align: center;
}

.hovermsg {
	display: none;
	width: 100px;
	background: rgba(255,255,255,0.9);
	border: #222 1px solid;
	padding: 2px;
	font-size: 12px;
	color: #000;
	border-radius: 2px;
	position: absolute;
	top: 20px;
	left: 20px;
	line-height: 1.2em;
	text-align: left;
	font-family: arial, sans;
}

.repeat {
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
    position: relative;
    width: 95%;
	display: table;

	& > div {
		display: table-cell;
	}

	.admin-icon {
		color: #bbb;
		width: 60px;
		background: #ddd;
		vertical-align: middle;
	}

	& > .tpl-field-inner {
		padding: 20px;
	}
}

.datatype-container {
	width: 100%;
	max-width: 800px;

	&.tpl-combined-wrapper {
		max-width: 100%;

		.tpl-combi-sub-half {
			width: 50%;
			float: left;
		}

		.tpl-combi-sub-third {
			width: 33%;
			float: left;
		}
	}

	input:not([type=button]), select, textarea {
		width: 100%;
	}

	input, select {
		height: 40px;
	}
}

.arranger {
	&::before {
		content: @fa-var-arrows;
	}
}

.remover {
	&::before {
		content: @fa-var-minus;
	}
}

.tpl-default-value {
	color: #aaa;
	display: block;
	clear: both;
}


.tpl-admin-hide {
	display: none;
}
