/* Enter your custom LESS code for different media sizes */

@media (max-width: 1280px) {

	.meta-option {
		.meta-option-wrapper, .button-container {
			width: 100%;
		}

		button {
			margin-top: 12px;
			margin-bottom: 12px;
		}
	}

	.repeat {
		margin-bottom: 12px;

		& > .tpl-field-inner {
			padding: 12px;
		}
	}

	.arranger {
		padding: 0 10px 0 12px;
	}

	.remover {
		padding: 0 12px 0 10px;
	}

}



@media (max-width: 1200px) {

}



@media (max-width: 1040px) {

	.tpl-field:not(.repeat) > .tpl-field-inner {
		padding-right: 0px;
	}

}



@media (max-width: 960px) {

}



@media (max-width: 800px) {

}



@media (max-width: 600px) {

}



@media (max-width: 480px) {

}



@media (max-width: 360px) {

}
